<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/index.css">
	</head>
	<body>
		<div id="main-content">
			<h1 id="titleText">PiRadio 90.1</h1>
			<h2>Instructions:<br>
				Simply enter the name and artist and just wait for the song to play on 90.1</h2>
		<form action="/songrequest" method="post">
			<br>
			<input type="text" name="songname" placeholder="enter the name and artist of the song"><br>
			<input type="submit" value="send">
		</form>
		</div>
	</body>
</html>
